<div class="server-list">
    <div class="server">
        <div class="server-icon">
            <div class="server-name">
                <h1><i class="fa-brands fa-discord"></i></h3>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="server">
        <div class="server-icon">
            <div class="server-name">
                <h3>Server Name</h3>
            </div>
        </div>
    </div>

    <% console.log(servers); %>

</div>